<a href="https://colab.research.google.com/github/zoya-ivanova/BigData/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D0%B8_1%2C_2%2C_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 1. map( )

У нас есть список чисел. Мы хотим получить новый список, в котором каждый элемент будет возводиться
в квадрат. Ниже показано решение задача через цикл, решите задачу с помощью функции map:

In [1]:
numbers = [1, 2, 3, 4, 5]
new_numbers = []
for num in numbers:
  squared = num**2
  new_numbers.append(squared)

print(new_numbers)

[1, 4, 9, 16, 25]

In [2]:
#Ваше решение
print(list(map(lambda x: x**2, numbers)))

[1, 4, 9, 16, 25]

In [4]:
def sq(num):
  squared = num ** 2
  return squared

In [5]:
new = (list(map(sq, numbers)))
new

[1, 4, 9, 16, 25]

In [6]:
a = map(sq, numbers)
a

In [7]:
#генератор, вы дает сначала 1, по сле запуска 4 и тд по сле 25 будет ошибка
next(a)

1

Задача 2. reduce( )

У нас есть список чисел, и мы хотим получить их сумму.
Ниже показано решение задача через цикл, решите задачу с помощью функции reduce:

In [ ]:
numbers = [1, 2, 3, 4, 5]
result = 0
for num in numbers:
  result += num

print(result)

15

In [3]:
# Ваше решение
from functools import reduce
print(reduce(lambda x, y: x + y, numbers))

15

Задача 3. filter( )

У нас есть список чисел и мы хотим получить только те, которые больше пяти. Ниже показано решение задача
через цикл, решите задачу с помощью функции filter:

In [8]:
numbers = [2, 7, 1, 8, 4, 5]
result = []
for num in numbers:
  if num > 5:
    result.append(num)

print(result)

[7, 8]

In [9]:
# ваше решение
list(filter(lambda x: x>5, numbers))

[7, 8]